@import 'colors';

* {
  font-family: 'Ubuntu Nerd Font', sans-serif;
}

window.notification-popups box.notifications {
  padding: 0.5em;
}

.icon {
  min-width: 48px;
  min-height: 48px;

  image {
    font-size: 48px;
    margin-right: 10px; // To center the image
  }

  box {
    min-width: 48px;
    min-height: 48px;
    border-radius: 4px;
    margin-right: 12px;
  }
}

.notification {
  min-width: 350px;
  border-radius: 11px;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid $accent;
  background-color: $background;
  color: $foreground;
}

.notification.critical {
  border: 1px solid $red;
}

.title {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.body {
  color: $foreground;
}

.actions {
  .action-button {
    margin: 0 0.4em;
    margin-top: 0.8em;
  }

  .action-button:first-child {
    margin-left: 0;
  }

  .action-button:last-child {
    margin-right: 0;
  }
}

/* media */

.media-contents {
  padding: 10px;
  border-radius: 8px;
  background-color: $background;
}

.player {
  * {
    // font-family: 'Rubik', sans-serif;
    font-family: 'Gabarito', sans-serif;
  }

  padding: 10px;
  min-width: 500px;
  background-color: $background;
  border-radius: 5px;
  font-size: 1.1em;

  .img {
    min-width: 125px;
    min-height: 125px;
    background-size: cover;
    background-position: center;
    border-radius: 13px;
    margin-right: 1.5em;
  }

  .title {
    font-size: 1.2em;
  }

  .artist {
    color: gray;
  }

  .media-button {
    label {
      font-size: 1.1em;
    }

    padding: 0;
    min-width: 2.5em;
    min-height: 2.5em;
    border-radius: 50%;
  }

  .progressbar {
    font-size: 3px;
    min-width: 0.4em;
    min-height: 0.4em;
    color: $accent;
  }
}

// BAR

.bar,
.bar * {
  font-size: 0.75rem;
  min-height: 0;
}

.bar {
  background-color: $background;

  button {
    background-color: $accent;
    color: $accent_fg;
  }

  button:hover {
    opacity: 0.6;
  }

  .clock {
    background-color: $accent;
    color: $accent_fg;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.85rem;
  }

  .workspaces button {
    border-radius: 0;
    padding: 0 0.5rem;
  }

  .workspaces button:first-child {
    background-color: $accent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .workspaces button:last-child {
    background-color: $accent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .workspaces button.focused {
    background-color: $red;
  }

  .media {
    margin: 0 1rem;
    font-size: 0.85rem;
  }
}

.material-icons {
  font-family: 'Material Symbols Rounded', 'MaterialSymbolsRounded',
    'Material Symbols Outlined', 'Material Symbols Sharp';
}
